<script src="js/login.js"></script>

<div data-role="view" data-title="Register" data-layout="loginmain" >
      <center><div style="height:5%;width:100%;padding-top:9px;">
               <span class="slogan">Save Money - Save Time - Save the Planet</span>
            </div>
           
            <div style="margin-bottom:2%;padding-top:5%;">
                <img src="img/LoganCar.png" style="width:170px;height:120px"/>
            </div>
           <div style="padding-top:0">
                <label id="lblMsg" style="color:#D70007;font-size:12px"></label><br/>
                <label id="lblMess1" style="color:#D70007; font-size:12px; display:none;">The email address for this account has not been verified. Please check your email and follow the instructions contained therein or </label>
                <a id="aEmailResndVerificationLink" style="color:#0000FF; font-size:12px; font-weight:600; text-decoration:underline; cursor:pointer; display:none;" onclick="resendEmailVerification()">Click here</a>
                <label id="lblMess2" style="color:#D70007; font-size:12px; display:none;"> and we will resend the verification request email.</label>
                <label id="lblResMess1" style="color:#D70007; font-size:12px; display:none;">Your account is currently inactive. Please </label>
                <a id="aresendResendpwdlink" style="color:#0000FF; font-size:12px; font-weight:600; text-decoration:underline; cursor:pointer; display:none;" onclick="resetpwdlnk()">Click here</a>
                <label id="lblResMess2" style="color:#D70007; font-size:12px; display:none;"> . A password reset link will send to your registered email address.</label>
                <br />
                <input type="text" id="txtUserName" style=" font-family: MS;" placeholder="Username" />
                <input type="password" id="txtPassword" style="font-family: MS;" placeholder="Password"/><br/>
                
                <input type="checkbox" id="chkRem" style="display:none" checked="true"/>
                
                <div style="margin-top:8%;">
                    <input type="button" class="btn-tmp" style="width:80%;-webkit-appearance:none;-moz-appearance:none;" value="Log In" onclick="login()" />
                    <!--<a href="ckeckAlert.html" style=color:black>click here</a>-->
                </div>
                <div style="text-align:center">
                    <input type="button" class="btn-tmp" style="width:39.5% !important;font-size: 13px !important;-webkit-appearance:none;-moz-appearance:none;" value="Forgot Password" onclick= "forgotPass()" />
                    <input type="button" class="btn-tmp" style="width:39.5% !important;font-size: 13px !important;-webkit-appearance:none;-moz-appearance:none;" value="Forgot Username" onclick= "forgotUser()" />
                </div>
            </div>

 </center> 
</div>