<link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/site.css" />
<script type="text/javascript">
  


function login() {
    var name = $('#txtUserName').val();
    var password = $('#txtPassword').val();
    if (name.length > 0) {
        $('#lblMsg').text("");
    }
    else if (name.length === 0) {
        $('#lblMsg').text("Please Enter Username.");
        $('#txtUserName').focus();
        return false;
    }
    if (password.length > 0) {
        $('#lblMsg').text("");
    }
    else if (password.length === 0) {
        $('#lblMsg').text("Please Enter Password.");
        $('#txtPassword').focus();
        return false;
    }
   
    if(true)
    {        
        var url = "http://ecabs4uservice.azurewebsites.net/ECabs4U.asmx/UserLogin";
        $.ajax(url, {
            beforeSend: function() 
            {
                $('#imgLoader').show();
            },
            type: "POST",
            datatype: "json",
            data: "{'username':'" + name + "','userpassword':'" + password + "'}",
            contentType: "application/json; charset=utf-8",
            success: CheckMsg,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }
}
function CheckMsg(data) {
      //var isloggedin = data.d[4];
      var userID = data.d[1];
      var isChecked = $('#chkRem').prop('checked') ? true : false;
      //if (isloggedin === "True") {
      //    //window.location = 'SessionError.html?id=' + userID;
      //    
      //}
      //else {
          if (data.d[0] === "true") {
              $('#imgLoader').show();

              var roleID = parseInt(data.d[2]);
              var relatedID = data.d[3];

              var name = $('#txtUserName').val();
              var password = $('#txtPassword').val();

              //creating Cookie       
              
              if (isChecked === true) {
                  window.localStorage.setItem('userName',name);
                  window.localStorage.setItem('userPassword',password);
                  window.localStorage.setItem('remember',true);                 
              }
              else {
                  window.localStorage.setItem('userName','');
                  window.localStorage.setItem('userPassword','');
                  window.localStorage.setItem('remember',false);                  
              }

              switch (roleID) {
                  //Role 3 --> Driver OR Role 7 --> OperatorCumDriver
                  case 3:
                  case 7:
                      window.location = 'views/CustomerProfile.html';
                      break;
                      //Role 4 --> Customer
                  case 4:
                      window.location = "views/CustomerProfile.html";
                      break;
              }
          }
          else {
                       
              $('#imgLoader').hide();
              var unauthorised = data.d[0];
              if(unauthorised == "EmailNotVerified")
              {
                  $('#myInputhidden').val(data.d[1]);
                  $('#txtPassword').val("");
                  $('#lblMess1').show();
                  $('#aEmailResndVerificationLink').show();
                  $('#lblMess2').show();
              }
              else if(unauthorised == "BlockedLoginAttempt")
              {
                  $('#myInputhidden').val(data.d[1]);
                  $('#txtPassword').val("");
                  $('#lblResMess1').show();
                  $('#aresendResendpwdlink').show();
                  $('#lblResMess2').show();
              }
              else
              {
                  $('#lblMsg').text(data.d);
                  $('#lblMsg').css("color", "#D70007");
                  $('#lblMsg').css("font-size", "13");
                  $('#txtPassword').val("");
              }              
          }
     // }
 }


</script>
<div data-role="view" data-title="Register" data-layout="main" data-model="APP.models.Login">
      <center><div style="height:5%;width:100%;padding-top:9px;">
               <span class="slogan">Save Money - Save Time - Save the Planet</span>
            </div>
           
            <div style="margin-bottom:2%;padding-top:5%;">
                <img src="img/LoganCar.png" style="width:170px;height:120px"/>
            </div>
           <div style="padding-top:0">
                <label id="lblMsg" style="color:#D70007;font-size:12px"></label><br/>
                <label id="lblMess1" style="color:#D70007; font-size:12px; display:none;">The email address for this account has not been verified. Please check your email and follow the instructions contained therein or </label>
                <a id="aEmailResndVerificationLink" style="color:#0000FF; font-size:12px; font-weight:600; text-decoration:underline; cursor:pointer; display:none;" onclick="resendEmailVerification()">Click here</a>
                <label id="lblMess2" style="color:#D70007; font-size:12px; display:none;"> and we will resend the verification request email.</label>
                <label id="lblResMess1" style="color:#D70007; font-size:12px; display:none;">Your account is currently inactive. Please </label>
                <a id="aresendResendpwdlink" style="color:#0000FF; font-size:12px; font-weight:600; text-decoration:underline; cursor:pointer; display:none;" onclick="resetpwdlnk()">Click here</a>
                <label id="lblResMess2" style="color:#D70007; font-size:12px; display:none;"> . A password reset link will send to your registered email address.</label>
                <br />
                <input type="text" id="txtUserName" style=" font-family: MS;" placeholder="Username" />
                <input type="password" id="txtPassword" style="font-family: MS;" placeholder="Password"/><br/>
                
                <input type="checkbox" id="chkRem" style="display:none" checked="true"/>
                
                <div style="margin-top:8%;">
                    <input type="button" class="btn-tmp" style="width:80%;-webkit-appearance:none;-moz-appearance:none;" value="Log In" onclick="login()" />
                    <!--<a href="ckeckAlert.html" style=color:black>click here</a>-->
                </div>
                <div style="text-align:center">
                    <input type="button" class="btn-tmp" style="width:39.5% !important;font-size: 13px !important;-webkit-appearance:none;-moz-appearance:none;" value="Forgot Password" onclick= "forgotPass()" />
                    <input type="button" class="btn-tmp" style="width:39.5% !important;font-size: 13px !important;-webkit-appearance:none;-moz-appearance:none;" value="Forgot Username" onclick= "forgotUser()" />
                </div>
            </div>

 </center> 
</div>