.thead-grid{
    background-color:#0080FF;
    color:white;
}
.thead-grid th{
    border-top:1px solid white;
    border-bottom:1px solid white;
    height:40px;
    font-size:14px;
    font-weight:bold;
}
.thead-grid2{
    background-color:#66CCFF;
    color:black;
}
.thead-grid2 th{
    border-top:1px solid white;
    border-bottom:1px solid white;
    height:22px!important;
    font-size:14px;
    font-weight:bold;
}


.tbody-grid {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.tbody-grid td{    
    border-bottom:1px solid #848484;
    height:30px;
    font-size:14px;
    font-weight:bold;
}

.altColor tr:nth-child(2n)
{
 background:#58D3F7;
 border-bottom:1px solid black;
    
}

.altColor tr:nth-child(2n-1)
{
 background:#CEECF5;
 border-bottom:1px solid black;
    
}
/*---customerSearchList Page*/

.header-style{
    
    color:white;
   
}
.header-style th{
     height:40px;
    background-color:#0080FF;
}

.body-style {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.body-style td{
    border:none;
    height:35px;
    font-size:12px;
}

/*----------------*/
.table-style{
    border:1px solid #167add;
    border-collapse:collapse;
}

table-row{
    border-bottom:1px solid;
}
.th1{
    width:25%;
    height:30px;
    text-align:center;
}
.th2{
    width:15%;    
    text-align:center;
}
.th3{
    width:20%;
    text-align:center;
}
.th4{
    width:25%;
    text-align:center;
    height:30px;
    padding-top:2%;
}
.font{
    font-size:14px;
    font-family:Calibri;
    font:bold;
}

.accept-btn{
     border-radius:1px!important;
     outline:none!important;
     width:100%!important;               
     height:30px!important;
     text-align:center!important;
     font-size:14px!important;
     margin:auto!important;
     vertical-align:middle !important;
     text-align:center!important;
     font-family:Calibri;
     color: #fff;
     border: 1px solid #088A29;
     background-color:#088A29;
}

.accept-btn2{
     border-radius:1px!important;
     outline:none!important;
     width:100%!important;               
     height:35px!important;
     text-align:center!important;
     font-size:17px!important;
     margin:auto!important;
     vertical-align:middle !important;
     text-align:center!important;
     font-family:Calibri;
     color: #fff;
     border: 1px solid #088A29;
     background-color:#088A29;
}

.reject-btn{
     border-radius:1px!important;
     outline:none!important;
     width:100%!important;               
     height:30px!important;
     text-align:center!important;
     font-size:14px!important;
     margin:auto!important;
     vertical-align:middle!important;
     font-style: normal!important;    
     font-family:Calibri;
     color: #fff;
     border: 1px solid #FE642E;
     background-color:#FE642E;
}
